<!DOCTYPE html>
<html>
	<head>
		<title>Air Crash</title>
	</head>
	<body>
		<nav>
			<a href="{{ url('home') }}">Page d'accueil</a>
			<a href="{{ url('contact') }}">Nous contacter</a>
			<a href="{{ url('login') }}">Connectez vous !</a>
			<a href="{{ url('userContact') }}">Votre profil utilisateur</a>
		</nav>
		{% block test %}{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>